<div class="todo-item compeleted" [class.compeleted]="todo.completed">
    <div class="check-box">
        <img class="show" src="assets//check-solid.svg" width="18px"
        height="18px" alt="" srcset="">
    </div>
    <div class="todo-text">
       {{ todo.text }}
    </div>
    <div class="todo-controls-box">
        <div class="todo-control-button">
          <img src="assets//pen-solid.svg"width="18px"
          height="18px" alt="" srcset="">
        </div>
        <div class="todo-control-button">
          <img src="assets//trash-can-solid.svg" width="18px"
          height="18px" alt="" srcset="">
        </div>
    </div>

  </div>
